[submodule "quadrotor_obstacle_avoidance"]
	path = quadrotor_obstacle_avoidance
	url = https://github.com/DaikiMaekawa/quadrotor_obstacle_avoidance
[submodule "quadrotor_navigation"]
	path = quadrotor_navigation
	url = https://github.com/DaikiMaekawa/quadrotor_navigation
[submodule "kobuki_navigation"]
	path = kobuki_navigation
	url = https://github.com/DaikiMaekawa/kobuki_navigation
